.card {
  background-color: #e5e7eb80;
  cursor: pointer;
}

.avatar {
  border: rem(2px) solid var(--mantine-color-body);
}

.videoTime {
  position: absolute;
  top: 40%;
  right: 10px;
  background-color: rgba(36, 39, 48, 1);
  color: #fff;
  padding: 1px 8px;
  border-radius: 8px;
}

.videoTime p {
  font-size: 10px;
}


.LiveLabel {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #FF0045;
  color: #fff;
  padding: 0 10px;
  border-radius: 4px;
}

.LiveLabel p {
  font-size: 12px;
}

.LabelDollar {
  position: absolute;
  top: 35%;
  left: 10px;
  background-color: #FF0045;
  color: #fff;
  padding: 1px 8px;
  border-radius: 8px;
}