.my-stepper .mantine-Stepper-step {
  flex-direction: column;
  text-align: center;
}

.upload-modal .mantine-Modal-body {
  padding-left: 20px;
  padding-right: 20px;
}

.upload-modal .upload-section {
  border: 1px dotted #ff0045;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 8px;
  background-color: #ffe6ec80;
}

.upload-modal .upload-section img {
  width: 50px;
  height: 50px;
}

.upload-modal p {
  font-size: 14px;
  color: #6d6d6d;
}

.full-btn {
  width: 100vh;
}

.proceesing {
  width: 617px;
  margin-left: auto;
  margin-right: auto;
}

.proceesing .mantine-Stepper-step {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.proceesing .mantine-Stepper-stepBody {
  margin-top: 10px;
  margin-left: 0;
  position: relative;
}

.proceesing .mantine-Stepper-stepBody span {
  font-size: 12px !important;
}

.mantine-DatePickerInput-calendarHeader svg {
  width: 20px !important;
  height: 20px !important;
}

.mantine-Stepper-stepIcon {
  min-width: 30px !important;
  min-height: 30px !important;
  background: transparent;
  border: none !important;
  width: 30px;
  height: 30px !important;
}
.m_a79331dc {
  color: #ff0045 !important;
}

.upload-file {
  background-color: #ffe6ec80;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dotted #ff0045;
  height: 122px;
}

.thumbnail-size img {
  border-radius: 12px;
}

.upload-file h6 {
  color: #ff0045;
  font-size: 14px;
}

.video-tags {
  border: 1px solid #d0d5dd;
  padding: 8px;
  border-radius: 8px;
}
.video-tags1 {
  border: 1px solid #d0d5dd;
  padding: 8px 0px;
  border-radius: 8px;
}

.video-tags li {
  background-color: #6b7280;
  color: #fff;
  border-radius: 16px;
  padding: 2px 8px;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.video-tags1 li {
  background-color: #6b7280;
  color: #fff;
  border-radius: 16px;
  padding: 2px 8px;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.thumbnail-img {
  position: relative;
  border-radius: 12px;
  height: 122px;

}

.thumbnail-img img {
  height: 122px;
  width: 100%;
  border-radius: 12px;
}
.verification{
  text-align: center;
}

.verification input {
  width: 75px !important;
  height: 75px;
  border-radius: 8px;
  border: 1px solid #D6BBFB;
  outline: #D6BBFB;
  margin-right: 10px;
  font-size: 48px;
  font-weight: 600;
  color: #FF0045;
}

.telephone-icon {
width: 48px;
height: 48px;
margin: 0 auto;
background-color: #FF004514;
padding: 10px;
border-radius: 50%;
color: #ff0045;
}

.verification div {
justify-content: center;
}

.thumbnail-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #ff004580;
  height: 100%;
  border-radius: 12px;
  transition: all 0.3s ease;
  width: 100%;
  /* opacity: 0; */
  opacity: 1;
}

/* .thumbnail-img:hover::after {
  opacity: 1;
} */

.thumbnail-img h5 {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  z-index: 1;
  transition: all 0.3s ease;
  transform: translate(-50%, 5px);
  opacity: 1;
  transform: translate(-50%, -35px);
}

.ring {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: conic-gradient(#ff5733, #ffbd33, #33ff57, #33aaff, #ff33aa, #ff5733);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ring::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #f0f0f0;
  border-radius: 50%;
  position: absolute;
}