
.LiveLabel {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #FF0045;
    color: #fff;
    padding: 0 10px;
    border-radius: 4px;
  }
  
  .LiveLabel p {
    font-size: 12px;
  }