.page-banner {
    background-color: #fb7171;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    color: #fff;
}

.page-banner-img img {
    height: 300px;
    width: 370px;
}

.page-banner .mantine-Grid-inner {
    align-items: end;
}

.page-banner .mantine-Grid-col {
    padding: 0;
}

.banner-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}

.banner-link {
    color: #fff;
    text-decoration: none;
}

.playlist-img {
  position: relative;
}

.playlist-img .playlist-status {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ff0045;
  color: #fff;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 5px;
}

.playlist-img img {
  border-radius: 20px;
}

.playlist-title {
  color: #1f1d2b;
  font-size: 16px;
  font-weight: 600;
}

.playlist-content a {
  color: #34373c;
  font-size: 14px;
  font-weight: 600;
}

.playlist-content span {
  color: #808191;
  font-weight: 600;
  font-size: 12px;
}

.playlist-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: #ff004580;
  height: 100%;
  border-radius: 20px;
  transition: all 0.3s ease;
  width: 100%;
  opacity: 0;
}

.playlist-img:hover::after {
  opacity: 1;
}

.playlist-img h5 {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  z-index: 1;
  transition: all 0.3s ease;
  transform: translate(-50%, 5px);
  opacity: 0;
  visibility: hidden;
}

.playlist-img:hover h5 {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50px);
}
