.text-pink {
    color: #FF5482 !important;
}

.video-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: #1F2937;
}

.video-player {
    width: 100% !important;
}

.chat-box{
    background-color: #282828;
    border-radius: 16px;
    padding: 16px;
}

.video-about {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    color: #667085;
    font-size: 16px;
    line-height: 24px;
}

.avatar img {
    border-radius: 50%;
    padding: 4px;
    border: 1px solid #667085;
}

.channel-tag {
    border: none;
}

.video-channel .mantine-Grid-inner {
    align-items: center;
}

/* .chat-avatar img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.chat-box-heading {
    font-size: 18px;
    color: #E9E9E9;
    font-weight: 600;
}

.sigle-person-chat p {
    color: #D1D5DB;
    font-size: 13px;
    font-weight: 400;
}

.sigle-person-chat .chat-time {
    padding-left: 5px;
    color: #9CA3AF;
    font-weight: 400;
    font-size: 13px;
}

.single-person-chat .chat-para {
    color: #F9FAFB;
}

.chat-box-icon {
    font-size: 24px;
    color: #F9FAFB;
}

.chat-count {
    color: #D1D5DB;
    font-size: 14px;
}

.chat-open-btn {
    position: absolute;
    right: 10px;
    top: 20px;
} */

.comments{
    margin-top: 1.5rem;
}

.recomended-img {
    width: 10vw;
    object-fit: cover;
}

.recomended-content h5 {
    font-size: 16px;
    color: #1F2937;
}

.recomended-content  .channel-name {
    font-size: 14px;
    color: #667085;
}

.recomended-content span {
    color: #282828;
    font-size: 14px;
}

.recomended-img img {
    border-radius: 8px;
}