@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  margin-bottom: 0 !important;
}

img {
  max-width: 100%;
}

.text-14 {
  font-size: 14px;
}

.text-secondary {
  color: #667085;
}

.sub-heading {
  font-size: 14px;
  font-weight: 600;
  color: #344054;
}

.pink-btn {
  background-color: #FFE6EC;
  color: #FF0045;
  border: 1px solid #ff0045;
  border-radius: 8px;
}

.mantine-MultiSelect-pill{
  background-color: #6b7280;
  color: #fff;
  font-size: 14px;
}

.pink-btn2 {
  background-color: #FFE6EC;
  color: #FF0045;
  border-radius: 8px;
}

.upload-btn {
  background-color: #FFE6EC;
  color: #FF0045;
  border: 1px solid #ff0045;
  border-radius: 8px;
  border: none;
  background-color: transparent;
}

.whiteBtn {
  margin-top: 24px;
  border: 1px solid #c9c6c6;
  background-color: #fff;
  color: #344054;
  padding: 5px 30px;
  border-radius: 8px;
  margin-right: 1.5vw;
}

.m_347db0ec{
  background-color: #6b7280;
  color: #fff;
  font-size: 14px;
  margin-right: 12px;
  text-transform: capitalize;
  height: 30px;
  margin-top: 5px;
}

.m_86a44da5{
  color: #fff;
}

.redBtn {
  margin-top: 24px;
  background: #ff0045;
  color: #fff;
  padding: 5px 30px;
  border-radius: 8px;
  margin-right: 1vw;
  font-weight: 400;
}

.mb- {
  margin-top: 1px;
}

.login-btns {
  display: inline;
  margin-bottom: 2rem;
}

.toggle-btn {
  display: none;
}

.padding {
  padding: 3px 70px;
  margin-right: 1rem;
}

.mr {
  margin-right: 0rem;
}

.toggle-button {
  margin-top: 1.8rem;
  margin-right: 4vw;
  margin-left: 0.6vw;
}

.logout-User {
  display: inline-block;
  background-color: #ffe6ec;
  padding: 9px;
  border-radius: 20px;
  margin-right: 0.8rem;
}

.lock-icon {
  padding: 13px;
  border-radius: 28px;
  margin-bottom: 0.5rem;
}

.loggedUser {
  margin-right: 1rem;
}

.title {
  color: #667085;
  margin-top: 10px;
  font-size: 18px;
}

.company-logo {
  display: none;
}

.image-title {
  margin-top: 1rem;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.5px;
  text-align: left;
}

.channelTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #34373c;
  margin-top: .8rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 992px) {
  .toggle-button {
    display: none;
  }
  .sign_in {
    margin-right: 1rem;
  }
  .login-btns {
    display: none;
  }
 
  .company-logo {
    display: flex;
  }
}

@media (max-width: 576px) {
  .toggle-btn {
    display: block;
  }
  .search-bar {
    display: none;
  }
}
